//
// Modules -> Navs
// --------------------------------------------------

//.navbar {
//  overflow: hidden;
//  &:hover {
//    overflow: visible;
//  }
//}

.sub-nav {
  display: flex;
  justify-content: space-between;
  position: relative;

  // header pad
  padding: 0 20px;
  @media screen and (min-width: $screen-md-min) {
    padding: 0 40px 0 140px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding: 0 80px 0 180px;
  }
  // header pad

  @media screen and (min-width: $screen-adaptive-nav) {
    position: absolute;
    top: 90px;
    //min-width: 320px;
    //opacity: 0;
    transition: max-height 0s;
    z-index: 99;
    max-height: 0;
    //opacity: 0;
    //display: none;
    left: 0;
    width: 100%;
    //top: -500px;
    //height: 0;
    overflow: hidden;
    background-color: #F9F9F9;
  }
  .header__logo {
    &:before,
    &:after {
      display: none;
    }
  }

  &:before {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    height: 1px;
    z-index: 10;

    @media screen and (min-width: $screen-md-min) {
      right: 40px;
      left: 140px;
    }
    @media screen and (min-width: $screen-xl-min) {
      right: 80px;
      left: 180px;
    }
  }
  //&:after {
  //  content: '';
  //  background-color: #F9F9F9;
  //  position: absolute;
  //  top: 0;
  //  opacity: 0;
  //  height: 0;
  //  left: 0;
  //  right: 0;
  //  transition: opacity .3s;
  //}
  li {
    display: block;

    a {
      color: $black;
      &:hover {
        color: $base-color-main;
      }
    }
  }

  .sub-nav__inner {
    position: relative;
    padding: 20px;
    z-index: 2;

    @media screen and (min-width: $screen-adaptive-nav) {
      column-fill: balance;
      column-count: 2;
      //background: $base-color-main;
      left: 0;
      padding: 50px 10px 30px;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: inline-block;
    @if $use-adaptive == true {
      background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
      }
    } @else {
      background-color: transparent;
    }
    &:after {
      content: '';
      width: 0;
      height: 1px;
      background-color: $base-color-main;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: width 0.5s;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      display: flex;
      cursor: pointer;
      > * {
        margin-left: 10px;
      }

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
      &--ico {
        width: 35px;
        height: 35px;
        background: url("../images/menuMobileWh.svg") no-repeat center;
        .black & {
          background: url("../images/menuMobile.svg") no-repeat center;
        }
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

.subNav {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: $screen-md-min) {
    font-size: 18px;
    max-width: 800px;
  }
  &__item {
    margin-bottom: 30px;
    width: 50%;
    @media screen and (min-width: $screen-md-min) {
      width: 28%;
      &:nth-child(5),
      &:nth-child(1) {
        width: 26%;
      }
      &:nth-child(6),
      &:nth-child(2) {
        width: 34%;
      }
      &:nth-child(7),
      &:nth-child(3) {
        width: 27%;
      }
      &:nth-child(8),
      &:nth-child(4) {
        width: 13%;
      }
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 50%;
    }
  }
  &__link {
    color: $gray-darken-2;
    //border-bottom: 2px solid $gray-lighten;
    transition: border-bottom-color 0.5s;
    position: relative;
    display: inline-block;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $gray-lighten;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
    };
    &:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: $base-color-main;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: width 0.5s;
    }
    //span {
    //  &:after {
    //    opacity: 0;
    //    content: "";
    //    position: absolute;
    //    top: -8px;
    //    right: -18px;
    //    width: 15px;
    //    height: 15px;
    //    background: url("../images/arrow_rt.svg") no-repeat top right;
    //    transition: opacity .5s;
    //  }
    //}
    &.active {
      &:after {
        width: 100%;
      }
    }
    &:hover {
      &:after {
        width: 100%;
      }
      span {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.subSections {
  list-style: none;
  position: relative;
  &:before {
    content: "";
    background-color: $gray;
    position: absolute;
    right: -10%;
    width: 120%;
    top: 0;
    height: 1px;
  }
  li {
    font-size: 14px;
    line-height: 1.57;
    display: inline-block;
    color: $gray-darken-1;
    margin-right: 10px;
    z-index: 10;
    @media screen and (min-width: $screen-md-min) {
      margin-right: 30px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin-right: 70px;
      &:first-child {
        margin-right: 116px;
      }
    }
    span {
      padding: 10px 0;
      @media screen and (min-width: $screen-md-min) {
        padding: 25px 0;
      }
    }
    a {
      color: $gray-darken-2;
      position: relative;
      display: block;
      padding: 10px 0;
      @media screen and (min-width: $screen-md-min) {
        padding: 25px 0;
      }
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: background-color 0.5s;
      }
      &.active:after,
      &:hover:after {
        background-color: $base-color-main;
      }
    }
  }
}

// faq
clientsBlock,
.faq {
  .subNav {
    max-width: inherit;
    justify-content: flex-start;
    @media screen and (min-width: $screen-lg-min) {
      width: 90%;
    }
    &__item {
      width: calc(100% / 2);
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: calc(100% / 4);
      }
      @media screen and (min-width: $screen-lg-min) {
        width: calc(100% / 6);
        &:nth-child(10),
        &:nth-child(4) {
          width: 13%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
    }
  }
}
.clientsBlock {
  .subNav {
    max-width: inherit;
    justify-content: flex-start;
    @media screen and (min-width: $screen-lg-min) {
      width: 90%;
    }
    &__item {
      @media screen and (min-width: $screen-lg-min) {
        width: auto;
        margin-right: 80px;
        &:nth-last-child(2) {
          margin-right: 101px;
        }
        &:nth-last-child(3) {
          margin-right: 144px;
        }
        &:nth-last-child(4) {
          margin-right: 70px;
        }
      }
    }
  }
}
.contactsBlock {
  .subNav {
    max-width: 840px;
    justify-content: flex-start;
    &__item {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 4);
        &:nth-child(5),
        &:nth-child(2) {
          width: 46%;
        }
      }
    }
  }
}


.faq.clientsBlock {
  .subNav {
    @media screen and (min-width: $screen-lg-min) {
      width: 100% !important;
    }
    &__item {
      @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        width: calc(100% / 6);
        margin-right: 0;
        padding-right: 40px;
      }
      @media screen and (min-width: $screen-xl-min) {
        &:nth-child(10),
        &:nth-child(4) {
          width: 8%;
        }
        &:nth-last-child(2) {
          margin-right: 80px;
        }
        &:nth-child(5) {
          width: 15%;
        }
      }
    }
  }
}
