//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    .franciscoLink::before {
      background: transparent;
    }
    @media screen and (min-width: $screen-md-min) {
      margin: $line-height-computed 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      height: 120px;
      padding: 0 80px 0 50px;
    }

    &__item {
      margin: 0 5px;
      &:first-child {
        display: none;
        margin-right: auto;
        .pagination__link:hover {
          background-color: transparent;
        }
        @media screen and (min-width: $screen-md-min) {
          display: block;
        }
      }
      &:last-child {
        display: none;
        margin-left: auto;
        .pagination__link:hover {
          background-color: transparent;
        }
        @media screen and (min-width: $screen-md-min) {
          display: block;
        }
      }
    }

    &__link {
      position: relative;
      font-size: 18px;
      padding: 4px 10px;
      line-height: $base-line-height;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      @include border-radius(50px);
      @media screen and (min-width: $screen-lg-min) {
        padding: 13px 20px;
      }
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
      }
    }

    &__item.active a {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
