.actionOrder {
  @media screen and (min-width: $screen-lg-min) {
    margin-top: 50px;
  }
  .cabinet-price {
    text-align: left;
  }
  &-info {
    // @include listBlock;
  }
  .table {
    border-top: 1px solid $gray;
    td, th {
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .table > thead th {
    padding-top: 60px;
    border-top: none;
    border-bottom: 1px solid $gray;
  }
  .table-delivery {
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }
    .table {
      border-top: none;
    }
    td {
      border-bottom: none;
      padding-left: 0;
    }
    th {
      padding-left: 0;
      padding-top: 20px;
      width: 25%;
    }
  }

  &-status {
    font-size: 14px;
    color: $gray-darken-1;
    span {
      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }
    span + span {
      display: inline-block;
      padding: 0 5px;
      color: white;
      background-color: $base-color-main;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 11px;
      }
    }
  }

  &-bill {
    font-size: 14px;
    margin: 40px 0;
    a {
      display: inline-flex;
      align-items: center;
    }
    img {
      margin-right: 15px;
    }
    span {
      color: $gray-darken-2;
      border-bottom: 1px solid $base-color-main;
    }
  }

  &-item {
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 35px;
    }
    .text__md {
      font-weight: 800;
    }
  }


  h5 {
    font-weight: 800;
    font-family: 'massMedium';
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 40px;
      margin-top: 80px;
    }
  }
}


.cart-item {
  display: flex;
  padding-top: 15px;
  &--img {
    min-width: 70px;
  }
  &--desc {
    margin-left: 24px;
  }
  @media screen and (min-width: $screen-md-min) {
    padding-top: 0;
    width: 600px;
    &--img {
      width: 200px;
    }
    &--desc {
      margin-right: 70px;

      .text__xs {
        margin-top: 10px;
        color: $gray-darken-1;
      }
    }
  }
}
