.dealers {
  &-info {
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 50px 0 50px 50px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 90px 0 110px 50px;
    }
    h2 {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 70px;
      }
    }
    h5 {
      font-family: "massMedium";
      font-weight: 800;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 60px;
      }
    }
    .blueLine {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 60px;
      }
      &:before {
        bottom: 5px;
      }
      h5 {
        margin-bottom: 0;
      }
    }
  }
  &-counter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $gray;
    height: 220px;
    padding: 20px;
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 90px;
    }
    &-item {
      width: 100%;
      display: flex;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 220px;
      }
    }
    &__num {
      font-family: "massMedium";
      font-weight: 800;
      font-size: 18px;
      line-height: 48px;
      color: $base-color-main;
      margin-top: -20px;
      margin-right: 4px;
    }
    &__text {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &-accordion {
    border-top: 1px solid $gray;
    &.accordion {
      .accordion {
        &-item {
          &:before {
            display: none;
          }
        }
        &-header {
          padding: 20px 30px 20px 20px;
          @media screen and (min-width: $screen-md-min) {
            padding: 50px;
          }
        }
        &-content {
          padding: 0 30px 20px 20px;
          @media screen and (min-width: $screen-md-min) {
            padding: 0 50px 50px;
          }
          .list--bullet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            small {
              font-size: 14px;
            }
            li {
              width: 100%;
              margin-bottom: 0;
              @media screen and (min-width: $screen-md-min) {
                width: 45%;
              }
              @media screen and (min-width: $screen-lg-min) {
                width: 350px;
              }
            }
          }
        }
      }
    }
  }
  &-rating {
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 50px;
    }
    @media screen and (min-width: $screen-md-min) {
      padding: 80px 50px;
    }
    > p {
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 100px;
      }
    }
    &-item {
      h5 {
        font-family: "massMedium";
        font-weight: 800;
        margin-bottom: 0;
        @media screen and (min-width: $screen-md-min) {
          margin-top: 50px;
        }
      }
    }
  }
  &-advantages {
    color: white;
    padding: 20px;
    background-color: $base-color-main;
    @media screen and (min-width: $screen-md-min) {
      margin-left: 50px;
      padding: 50px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 100px 50px 100px;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 60px;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        @media screen and (min-width: $screen-md-min) {
          width: 50%;
        }
        @media screen and (min-width: $screen-lg-min) {
          width: 310px;
        }
      }
      &__num {
        font-family: "massMedium";
        font-weight: 800;
        font-size: 18px;
        line-height: 48px;
        margin-top: -20px;
        margin-right: 4px;
      }
      &__text {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &-img {
      height: 63px;
      width: 100%;
      background: url("../images/card/rolls.svg") no-repeat left center / auto 100%;
      @media screen and (min-width: $screen-md-min) {
        height: 90px;
      }
    }
  }
  &-table {
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 50px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 100px 50px;
    }
    .text__sm {
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 100px;
      }
    }
    .table {
      th {
        font-size: 18px;
        font-family: "massMedium";
        font-weight: 800;
        color: $black;
        border-top: none;
        border-bottom: none;
        padding: 10px 0;
        text-align: center;
        &:first-child {
          text-align: left;
        }
        @media screen and (min-width: $screen-md-min) {
          padding: 30px 0;
        }
      }
      tr {
        td {
          padding: 10px 0;
          vertical-align: middle;
          text-align: center;
          @media screen and (min-width: $screen-md-min) {
            padding: 30px 0;
          }
          &:first-child {
            text-align: left;
            min-width: 300px;
          }
        }
      }
      &--left {
        td, th {
          text-align: left !important;
        }
      }
      @media screen and (min-width: $screen-md-min) {
        .w30 {
          width: 30%;
        }
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      .table--adaptive td {
        border-bottom: none;
        margin-bottom: 25px;
        &::before {
          font-family: "massMedium";
          font-weight: 800;
          font-size: 15px;
          border-bottom: none;
          display: block;
          color: $black;
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }

  .about__card__bottom {
    margin-top: 20px;
    border-bottom: 0;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 50px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 100px;
    }
  }
}

.ratingSystem {
  margin-bottom: 30px;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0;
    @media screen and (min-width: $screen-md-min) {
      font-size: 18px;
      line-height: 28px;
      padding: 30px 0;

    }
  }
}

.table {
  &--adaptive {

  }
}
