.editPassword {
  margin-top: 50px;
  &-info {
    // @include listBlock;
  }
  .infoNotice {
    display: none;
  }
}


.infoNotice {
  h5 {
    font-weight: 800;
    font-family: 'massMedium';
    line-height: 28px;
    margin-bottom: 60px;
  }
}
