.faq {
  &-list {
    // @include listBlock;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $gray;
    @media screen and (min-width: $screen-md-min) {
      //border-top: 1px solid $gray;
      border-left: 1px solid $gray;
    }
    &__left {
      width: 100%;
      padding: 20px;
      @media screen and (min-width: $screen-md-min) {
        padding: 30px;
        width: 43%;
      }
      @media screen and (min-width: $screen-xmd-min) {
        padding: 50px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 50%;
        padding: 80px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding: 130px 140px 100px;
      }
      h2 {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-lg-min) {
          margin-bottom: 50px;
        }
      }
      a:not([href^="tel:"]) {
        border-bottom: 1px solid $base-color-main;
      }
    }
    &__right {
      width: 100%;
      color: white;
      padding: 20px;
      background-color: $base-color-main;
      @media screen and (min-width: $screen-md-min) {
        padding: 30px;
        width: 57%;
      }
      @media screen and (min-width: $screen-xmd-min) {
        padding: 50px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 50%;
        padding: 80px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding: 130px 140px 100px;
      }
      .inner {
        display: none;
        h3 {
          margin: 150px 0;
        }
      }
    }

    .checkbox {
      margin-right: 0;
      a {
        color: white;
        border-bottom: 1px solid white;
        &:hover {
          border-color: rgba(white, 0.2);
        }
      }
      .label {
        font-size: 12px;
        color: white;
        position: relative;
        display: block;
        padding-left: 26px;
        &:before {
          width: 16px;
          height: 16px;
          min-width: 16px;
          margin-right: 10px;
          border-color: white;
          position: absolute;
          left: 0;
          top: 5px;
        }
        &:after {
          width: 11px;
          height: 10px;
          top: 7px;
          left: 3px;
          margin: 0;
          background-image: url(../images/check-white.svg);
        }
        &:hover:before {
          border-color: white;
        }
      }

      input:checked {
        & + .label {
          &:before {
            border-color: white;
          }
        }
      }
    }
  }
}
