.progress {
  &-info {
    padding: 20px 0 20px 20px;
    // @include listBlock;
    @media screen and (min-width: $screen-md-min) {
      padding: 50px 0 50px 50px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 110px 0 110px 50px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 60px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 80px;
        max-width: 75%;
      }
    }
  }
  &-listSlider {
    display: flex;
    position: relative;
  }
  &-list {
    p {
      white-space: nowrap;
    }
    .acknowledgment-list {
      &__item {
        @media screen and (min-width: $screen-md-min) {
          width: 50%;
          margin-right: 0;
        }
        @media screen and (min-width: $screen-lg-min) {
          width: 25%;
        }
      }
      &__img {
        display: inline-block;
      }
    }
    &-inner {
      position: relative;
      margin-top: 40px;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 0;
        margin-top: 0;
        padding-right: 50px;
      }
      @media screen and (min-width: $screen-xmd-min) {
        padding-left: 90px;
        padding-right: 80px;
      }
      .yearBlock {
        color: $base-color-main;
        position: absolute;
        left: 0;
        top: -40px;
        @media screen and (min-width: $screen-xmd-min) {
          top: 0;
        }
      }
      &:not(:last-child):before {
        content: "";
        background-color: $base-color-main;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: -50px;
      }
      &:after {
        content: "";
        background-color: $base-color-main;
        width: 9px;
        height: 9px;
        position: absolute;
        top: 0;
        left: -54px;
        border-radius: 10px;
      }
    }
  }
}
