.searchBlock {
  position: relative;
  &:before {
    content: "";
    background-color: $gray;
    position: absolute;
    right: 0;
    width: 110%;
    bottom: 0;
    height: 1px;
  }
  &__icon {
    position: absolute;
    right: 97%;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray;
    transform: rotateY(180deg);
    margin: 0;
    @media screen and (min-width: $screen-md-min) {
      right: 100%;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 80px;
    }
  }
  .section__bottom__form__input {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 80%;
    }
    @media screen and (min-width: $screen-xmd-min) {
      width: 85%;
    }
  }
  .section__bottom__form__button {
    flex-basis: 100%;
    padding-left: 0;
    @media screen and (min-width: $screen-md-min) {
      flex-basis: 20%;
    }
  }
  .section__bottom__form__input {
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
  }
}

.search {
  .catalog {
    margin-top: 0;
    h2 {
      margin-top: 0;
    }
    &__inner {
      border-bottom: 1px solid $gray;
    }
  }

  .section__left {
    @media screen and (min-width: $screen-md-min) {
      margin-top: 40px;
    }
    &:after {
      z-index: 0;
    }
  }
}
.catalog {
  //border-left: 1px solid $gray;
  border-bottom: 1px solid $gray;
  &__title {
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 30px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      padding: 40px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 80px 50px 50px;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    //border-top: 1px solid $gray;
    position: relative;
    z-index: 9;
    .card__item {
      width: 100%;
      border-bottom: none;
      position: relative;
      @media screen and (min-width: $screen-md-min) {
        width: 50%;
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: 33.333333%;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 25%;
      }
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        background-color: $gray;
      }
    }
  }
  &__item {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid $gray;
    transition: box-shadow .5s;
    position: relative;
    z-index: 9;
    //border: none !important;
    .btn {
      border-top: 1px solid $gray;
      @media screen and (min-width: $screen-md-min) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      transition: box-shadow .5s;
    }
    &:hover {
      background-color: white;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      &:before {
        box-shadow: inset 0px 0px 0px 1px white;
      }
    }
    @media screen and (min-width: $screen-md-min) {
    border-right: 1px solid $gray;
      width: 50%;
      padding: 30px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      padding: 30px 40px 40px;
      width: 33%;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 30px 50px 50px;
      width: 25%;
    }
    img {
      margin-bottom: 20px;
    }
    &-inf {
      font-size: 14px;
      color: #828282;
      margin-bottom: 30px;
      a {
        display: inline-block;
        color: black;
        border-bottom: 1px solid $base-color-main;
        transition: border-bottom-color 0.5s;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.news {
  &__title {
    border-right: 1px solid $gray;
    @media screen and (min-width: $screen-xmd-min) {
      width: 75%;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $gray;
    @media screen and (min-width: $screen-md-min) {
      flex-wrap: nowrap;
    }
    &__date {
      color: $gray-darken-1;
      font-size: 14px;
    }
    &__title {
      font-weight: 500;
      font-size: 18px;
      margin: 30px 0;
    }
    &__link {
      display: inline-block;
      img {
        position: relative;
        left: 15px;
      }
    }
    &-left {
      width: 100%;
      padding: 20px;
      @media screen and (min-width: $screen-md-min) {
        width: 64%;
        border-right: 1px solid $gray;
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: 75%;
        padding: 40px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 50px;
      }
    }
    &-right {
      width: 100%;
      padding: 10px 20px;
      order: -1;
      .catalog__item-inf {
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-md-min) {
        order: 0;
        padding: 20px;
        width: 36%;
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: 25%;
        padding: 40px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 50px;
      }
    }
  }
}

//.search {
//  .catalog__title:not(.news__title) {
//    position: relative;
//    &:before {
//      content: "";
//      background-color: $gray;
//      position: absolute;
//      right: 0;
//      width: 110%;
//      top: 0;
//      height: 1px;
//    }
//  }
//}

.params {
  &__inner {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    @media screen and (min-width: $screen-md-min) {
      margin-left: 40px;
      margin-bottom: 30px;
      margin-right: 40px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 50px;
      margin-bottom: 50px;
      margin-right: 80px;
    }
    &-item {
      width: 50%;
      cursor: pointer;
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;
      @media screen and (min-width: $screen-md-min) {
        width: 25%;
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: 20%;
      }
      &.active {
        box-shadow: inset 0px 0px 0px 1px $base-color-main;
        background: url("../images/check-white.svg") no-repeat right 10px top 10px, $base-color-main;
        @media screen and (min-width: $screen-xmd-min) {
          background: url("../images/check-white.svg") no-repeat right 25px top 20px, $base-color-main;
        }
        .params__inner-item-icon {
          display: none;
        }
        .params__inner-item-img {
          img {
            opacity: 1;
          }
        }
        .params__inner-item-count {
          color: white;
        }
      }
      .ratio-inner {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-count {
        position: absolute;
        font-size: 18px;
        color: black;
        left: 10px;
        top: 10px;
        @media screen and (min-width: $screen-xmd-min) {
          left: 30px;
          top: 20px;
        }
      }
      &-icon {
        text-align: center;
        img {
          max-width: 80%;
          @media screen and (min-width: $screen-xmd-min) {
            max-width: inherit;
          }
        }
      }
      &-img {
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          opacity: 0;
          transition: opacity 0.5s;
          max-width: 80%;
          @media screen and (min-width: $screen-xmd-min) {
            max-width: inherit;
          }
        }
      }
      &:hover {
        img {
          @media screen and (min-width: $screen-lg-min) {
            opacity: 1;
          }
        }
      }
    }
  }

  &__input {
    padding: 0 20px 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 40px 30px 40px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 0 70px 50px 50px;
    }
    h5 {
      font-family: 'massMedium';
      font-weight: 800;
      margin-bottom: 30px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 60px;
      }
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid $gray;
      border-left: 1px solid $gray;
    }
    &-item {
      width: 100%;
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;
      padding: 20px;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 2);
        padding: 30px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: calc(100% / 3);
        padding: 45px;
      }
      label {
        font-size: 18px;
        margin-bottom: 30px;
        color: $gray-darken-1;
      }
    }
    .btn {
      height: 80px;
      @media screen and (min-width: $screen-md-min) {
        height: 100px;
      }
      margin-top: 50px;
    }
  }
  &__result {
    h2 {
      padding-bottom: 20px;
      padding-left: 20px;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 40px;
        padding-bottom: 30px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding-left: 50px;
      }
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 100%;
      position: relative;
      @media screen and (min-width: $screen-lg-min) {
        width: 50%;
      }
      .btn {
        border: none;
        box-shadow: inset -1px 1px 0px 0px $gray;
      }
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        background-color: $gray;
      }
    }
    .section__bottom__slider__item {
      flex-wrap: wrap;
      height: auto;
      &:before {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        width: 100%;
        background: transparent;
        transition: box-shadow .5s;
      }
      &:hover {
        &:before {
          box-shadow: inset 0px 0px 0px 1px white;
        }
      }
      &:after {
        right: 0px;
      }
    }
    .btn-group {
      width: 100%;
    }
  }
}
