.sitebar {
  background-color: $base-color-dark;
  width: 100vh;
  height: 100px;
  transform-origin: left;
  align-items: center;
  position: fixed;
  transform: rotate(-90deg);
  left: 50px;
  bottom: -50px;
  z-index: 91;
  justify-content: center;
  display: none;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
  }
  &__link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .icon {
      margin-right: 15px;
      transform: rotate(90deg);
      background-color: transparent;
      transition: background-color 0.5s;
      @media screen and (min-width: $screen-md-min) {
        border-radius: 50%;
      }
    }
    &:hover {
      color: white;
      .icon_menu {
        background-color: $base-color-main;
      }
    }
  }
  &__sect {
    flex-basis: 25%;
    height: 100%;
    position: relative;
    transition: background-color 0.5s;
    &:hover {
      background-color: $base-color-main;
    }
    &_menu {
      border-left: 1px solid $base-color-main;
      &:hover {
        background-color: $base-color-dark;
      }
    }
  }
  &_search {
    flex-basis: 50%;
    background-color: $base-color-main;
    transition: background-color 0.5s;
    &:hover {
      background-color: $base-color-dark;
    }
  }
}

.searchBar {
  height: 50%;
  position: fixed;
  top: 0;
  width: 100%;
  left: -100%;
  z-index: 99;
  padding-top: 50px;
  transition: left 0.5s;
  background-color: $base-color-main;
  @media screen and (max-width: $screen-sm-max) {
    padding-top: 20px;
    z-index: 109;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &.active {
    left: 0;
  }
  &__close {
    cursor: pointer;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 1px solid rgba(white, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color .5s;
    @media screen and (max-width: $screen-sm-max) {
      width: 35px;
      height: 35px;
    }
    i {
      color: white;
    }
    &:hover {
      border-color: white;
    }
  }
  button {
    outline: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 18px;
    cursor: pointer;
  }
  &__input {
    margin-top: 50px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ffffff;
    input {
      font-size: 16px;
      line-height: 19px;
      color: white;
      background-color: transparent;
      border: none;
      outline: 0;
      padding: 20px 0;
      width: 100%;
      &::placeholder {
        color: white;
      }
    }
  }
}
