extends ../layouts/master.pug

block pageName
  - var pageName = "payment clientsBlock"

block header
  include ../partials/_header

block content
  .section
    .container
      +mainTitle('Оплата', 'Клиентам', true)
      +menuSub(menuClients, 'payment')
    .section__left(data-aos="")
      .payment-info
        h2.vertical-reveal-outer
          .vertical-reveal-inner(data-aos="") Мы принимаем следующие способы оплаты
      .payment-catalog(data-aos="fade-up", data-aos-delay="800")
        .payment-catalog__item
          h5 Банковская карта
          p.text__sm Вы можете оплатить счет или пополнить кошелек банковскими картами международных платежных систем Visa и MasterCard в режиме онлайн или оплатить картой в офисе FKL.
          +img('payment/pay-1.svg')
        .payment-catalog__item
          h5 Apple Pay и Samsung Pay
          p.text__sm Вы можете оплатить использвую данные системы.
          +img('payment/pay-2.svg')
        .payment-catalog__item(data-aos="fade-up")
          h5 Через платежные терминалы
          p.text__sm Электронными деньгами Яндекс.Деньги, Webmoney, QIWI
          +img('payment/pay-3.svg')
        .payment-catalog__item(data-aos="fade-up")
          h5 В салонах связи
          p.text__sm Вы можете оплатить счет или пополнить кошелек RBK #[br] Money в любом салоне связи Евросеть, Связной.
          +img('payment/pay-4.svg')
        .payment-catalog__item(data-aos="fade-up")
          h5 Оплата по счету для юридических лиц
          p.text__sm Вы можете оплатить выставив счет
          +img('payment/pay-5.svg')
      +nextBlock('Возврат продукции')
      include ../components/_signForm

block footer
  .section__footer
    include ../partials/_footer


