extends ../layouts/master.pug

block pageName
  - var pageName = "quality"

block header
  include ../partials/_header

block content
  .section
    .container
      +mainTitle('Стандарты качества FKL', 'Стандарты качества / #[a(href) О компании]', true)
      +menuSub(menuAbout, pageName)
      .subSections(data-aos="fade-up", data-aos-delay="700")
        li.subsections__item: span Подразделы
        li.subsections__item: a(href='#') Производственные процессы
        li.subsections__item: a(href='#') Сертификаты качества
    .section__left(data-aos="")
      .quality-info
        h2.vertical-reveal-outer
          .vertical-reveal-inner(data-aos="") Система качества FKL сертифицирована по #[br] стандартам — EN ISO 9001: 2015, #[br] EN ISO 14001 : 2015 и BS OHSAS 18001 : 2007
        .quality-desc
          .row.bottom__xs.between__xs
            .col.col__lg-8.col__xs-12
              .blueLine(data-aos="fade-up", data-aos-delay="600")
                h5 Так же FKL обладает и сертификатом для лаборатории по испытанию подшипников качения по SRPS ISO/IEC 17025:2006 (ISO/IEC 17025:2005).
              div(data-aos="fade-up")
                +franciscoLink('Показать сертификаты', 'str_right.svg')
            .col.hidden__md.hidden__sm.hidden__xs(data-aos="fade-left", data-aos-delay="700")
              img.rotate(src='assets/images/iso.svg', alt='')
          p(data-aos="fade-up"): b Эти сертификаты указывают на то, что способ организации компании и происходящие в ней процессы гарантируют высокий уровень качества продукции, которую FKL поставляет своим покупателям с учетом аспектов защиты окружающей среды, защиты жизни, здоровья и безопасности на рабочем месте.
          p(data-aos="fade-up") Качество продукции FKL основано на производственных процессах и технологии, которыми обладает FKL, на проверенных поставщиках, персонале, который способен быстро и эффективно осваивать новую продукцию и на самой организации, которая объединяет процессы FKL в единое целое.
            br
            br
            | Особое и важное место занимает процесс контроля, который своими действиями гарантирует качество, это отображается в работе входного контроля, контроля процессов производства и выходного контроля.
          p(data-aos="fade-up"): b Служба входного контроля FKL укомплектована кадрами и оснащена для контроля важных параметров всех материалов, полученных от поставщика и дает одобрение на использование материалов в производстве.
          p(data-aos="fade-up") Служба  работает на основании плана контроля приема и технических условий приема, которые определены и согласованы с поставщиком на каждый вид материала.
            br
            br
            | Служба снабжения отдельно отслеживает качество работы поставщиков, регулярно проводит их аудит, и дает разрешение на закупку материалов и применение оснастки для производства.
        .quality-content
          .col__lg-5.col__xs-12
            h2(data-aos="fade-up") Процедура контроля процессов производства продукции основана на:
          img(src='assets/images/sert.jpg', alt='', data-aos="fade-up")
          .quality-content-inner(data-aos="fade-up")
            .row.bottom__xs
              .col.col__md-6.col__xs-12
                ul.list--dots
                  li Мощности и точности станков;
                  li Мощности и точности измерительного оборудования;
                  li Выборочном контроле и 100% контроле;
                  li Чистоте рабочих мест в цеху;
                  li Оснастке для производства, которая согласована (утверждена);
                  li Обращении с бракованной продукцией;
                  li Идентификации материала в процессе работы;
                  li Регулярной калибровке измерительного оборудования;
              .col.col__md-5.col__xs-12
                ul.list--dots
                  li Настройке измерительного прибора вне процесса производства;
                  li Постоянном улучшении всех процессов;
                  li Компетентности персонала на всех уровнях производства;
                  li Знании собственной системы качества со стороны исполнителей;
                  li Понимании концепции качества и соответствующей подготовки;
                  li Системном решении рекламаций.
            h5(data-aos="fade-up") Контроль включает:
            .row.between__xs.quality-content--list
              .col.col__md-6.col__xs-12
                ul.list--counterList
                  li(data-aos="fade-up") Для каждой операции в процессе производства по всем типам продукции  FKL утверждает документ - план контроля процесса.  Реализация этих планов полностью гарантирует качество, которое определено в технической документации.
                  li(data-aos="fade-up") Перед началом работы на любой операции осуществляется изготовление и проверка первого образца. Проверяются ключевые параметры в лаборатории и дается разрешение на выполнение данной операции серийно.
                  li(data-aos="fade-up") Исполнитель использует измерительный прибор, который настраивается в специальном отделении контроля качества, который своей процедурой и работой гарантирует точность измерительного прибора и контроль параметров для данной операции. Исполнитель выполняет 100% контроль своих изделий и отвечает за качество. Каждый час исполнитель вносит в специальный отчет - XR-карту данные о измерении последних 5-ти изделий, тем самым гарантируя и подтверждая свой процесс работы.
                  li(data-aos="fade-up") Контролер в цеху периодически проверяет точность внесенных данных исполнителем. В случае, если обнаружены отклонения, осуществляется  100% контроль с  измерением всех изделий, сделанных исполнителем.
              .col.col__md-6.col__xs-12
                ul.list--counterList.list--counterList--next
                  li(data-aos="fade-up") Кроме того, все шлифовальные станки оснащены активным измерением, которое 100% измеряет заготовки, что является дополнительной гарантией качества продукции.
                  li(data-aos="fade-up") В процессе сборки, сортируя на группы внутренние и внешние кольца, производится 100% контроль диаметра дорожки качения, как дополнительная форма контроля при сборке. Под каждую группу колец выбирается своя группа шариков, что гарантирует одинаковое, заданное документацией значение радиального зазора на каждом подшипнике.
                  li(data-aos="fade-up") Также в процессе сборки на подшипниках производят 100% измерения зазора, вибраций и количества смазки, тем самым контролируя все важные параметры подшипника.
                  li(data-aos="fade-up") Окончательный контроль выполняется выборкой образцов для каждого собранного типа подшипника и составляется отчет о качестве серии, который служит для создания корректирующих мер и улучшений.
                  li(data-aos="fade-up") В ходе регулярных внутренних аудитов, при расчете стабильности собственных процессов и стабильности поставщика, производится анализ поставленных целей и достигнутых результатов, что приводит к улучшению самой системы.
      +nextBlock('Достижения')
      include ../components/_signForm

block footer
  .section__footer
    include ../partials/_footer
