extends ../layouts/master.pug

block pageName
  - var pageName = "shipping clientsBlock"

block header
  include ../partials/_header

block content
  .section
    .container
      +mainTitle('Доставка', 'Клиентам', true)
      +menuSub(menuClients, 'shipping')
    .section__left(data-aos="")
      .shipping-info
        div(data-aos="fade-up", data-aos-delay="600")
          +img('shipping/cdek.svg')
        h2.vertical-reveal-outer
          .vertical-reveal-inner(data-aos="") По умолчанию мы работаем через компанию #[span «CDEK»] , если Вам требуется доставка другой ТК, свяжитесь с менеджером по телефону 8 473 211-05-50
        ul.manufacturing-attr--list
          li(data-aos="fade-up", data-aos-delay="200")
            div: +img('shipping/truck.svg')
            .desc
              p.text__lg Доставка до терминала по Воронежу
              p.text__xl Бесплатно
          li(data-aos="fade-up", data-aos-delay="300")
            div: +img('shipping/truck-2.svg')
            .desc
              p.text__lg Курьерская доставка по городу
              p.text__xl ~ 400 рублей
      include ../components/_shippingList
      +nextBlock('Оплата')
      include ../components/_signForm

block footer
  .section__footer
    include ../partials/_footer


