extends ../layouts/master.pug

block pageName
  - var pageName = "vacancy"

block header
  include ../partials/_header

block content
  .section
    .container
      +mainTitle('Вакансии', 'О компании', true)
      +menuSub(menuAbout, pageName)
    .section__left(data-aos="")
      .vacancy-info.accordion
        .accordion-item(data-aos="fade-up", data-aos-delay="700")
          .accordion-header
            .title Менеджер по продажам
            .salary от 60 000 р.
          include ../components/_accordionContentVac
        .accordion-item(data-aos="fade-up", data-aos-delay="800")
          .accordion-header
            .title Специалист по закупкам и снабжению
            .salary от 80 000 р.
          include ../components/_accordionContentVac
        .accordion-item(data-aos="fade-up", data-aos-delay="900")
          .accordion-header
            .title Слесарь по ремонту промышленного оборудования
            .salary от 40 000 р.
          include ../components/_accordionContentVac
        .accordion-item(data-aos="fade-up")
          .accordion-header
            .title Балансировщик (6 разряд)
            .salary от 60 000 р.
          include ../components/_accordionContentVac
      .faq-form
        .faq-form__left(data-aos="fade-right")
          h2 Не нашли #[br] подходящую #[br] вакансию? Не беда!
          p.text__lg Мы не всегда обновляем вакансии #[br] на сайте. Можете заглянуть к нам #[br] на страничку в #[a(href='#') hh.ru/fkl] или #[br] отправить резюме через форму, #[br] ниже.
        form.faq-form__right(data-aos="fade-left")
          .inner.text--center
            h3 Спасибо, мы с Вами #[br] свяжемся
            .form__group
              a.btn.btn--primary.btn--full.return--js(href='#'): span Задать ещё вопрос
          .outer
            .form__group: +fieldInput('text', 'name', '', 'Ваше имя', true)
            .form__group: +fieldInput('email', 'email', '', 'Электронная почта', true)
            .form__group: +fieldInput('text', 'phone', '', 'Телефон', true)
            .form__group: +fieldTextarea('message', '', 'Ваш вопрос', '5', false)
            .form__group
              .input__file
                button.btn.btn--info.btn--full.input__name-js
                  +img('add.svg')
                  span Прикрепить файл
                input.input__file-js(type="file")
            .row
              .col.col__lg-6.col__xs-12.form__group
                a.btn.btn--primary.btn--full(href='#'): span Отправить резюме
              .col.col__lg-6.col__xs-12.first__xs.last__lg.form__group
                .checkbox
                  input(type="checkbox", id='faqId1')
                  label.label(for='faqId1') Нажимая на кнопку «Отправить резюме», вы соглашаетесь на обработку персональных данных в соответствии с #[a(href='#') политикой конфиденциальности].
      +nextBlock('Дилерам')
      include ../components/_signForm

block footer
  .section__footer
    include ../partials/_footer
