footer.footer(data-aos="fade-up")
  .footer__row
    .footer__col
      a.footer__logo(href='/')
      .hidden__xs.hidden__sm: .footer__copy © 2019 «FKL»
    .footer__col
      div
        .footer__title.open--js Центральный офис
        .footer-inner
          .footer__text Россия, Воронеж, ул. Новгородская, 121, оф. 1
      div.margbot50
        p: a.footer__phone(href='tel:84732747150') 8 473 274-71-50
        p: a.footer__mail(href='mailto:mail@rusfkl.ru') mail@rusfkl.ru
      div
        .footer__title.open--js Склад
        .footer-inner
          .footer__text с. Бабяково, Новоусманского района, ул. Индустриальная, 61в
            br
            br
            | 10 км от г. Воронежа съезд с М-4 на Тамбов (А-144). Индустриальный Парк «ПЕРСПЕКТИВА»
          a.footer__copy.hidden__xs.hidden__sm.franciscoItem(href='#'): span.franciscoHelper Политика конфицендиальности
    .footer__col
      .footer__title.open--js О компании
      .footer-inner
        .footer__list
          a.footer__list__item(href='') Спецпрограмма
          a.footer__list__item(href='clients.html') Гарантии
          a.footer__list__item(href='') Производство
          a.footer__list__item(href='about.html') История
          a.footer__list__item(href='vacancy.html') Вакансии
          a.footer__list__item(href='') Философия и ценности компании
          a.footer__list__item(href='faq.html') Вопрос-ответ
          a.footer__list__item(href='workwithus.html') С нами работают
          a.footer__list__item(href='certificates.html') Сертификаты/дипломы
      .hidden__xs.hidden__sm
        .footer__title Мы в соц. сетях
        .footer__social
          a.footer__social__item(href='')
            i.icon.icon_fb
          a.footer__social__item(href='')
            i.icon.icon_vk
          a.footer__social__item(href='')
            i.icon.icon_yt
          a.footer__social__item(href='')
            i.icon.icon_inst
    .footer__col
      .footer__title.open--js Каталог
      .footer-inner
        .footer__list
          a.footer__list__item(href='catalog.html') Спецпрограмма
          a.footer__list__item(href='catalog.html') Подшипниковые узлы
          a.footer__list__item(href='catalog.html') Подшипники шариковые
          a.footer__list__item(href='catalog.html') Подшипники роликовые
          a.footer__list__item(href='catalog.html') Подшипники элеватора
          a.footer__list__item(href='catalog.html') Втулки
          a.footer__list__item(href='catalog.html') Корпуса без подшипника
      .hidden__md.hidden__lg.hidden__xl
        .footer__title Мы в соц. сетях
        .footer__social
          a.footer__social__item(href='')
            i.icon.icon_fb
          a.footer__social__item(href='')
            i.icon.icon_vk
          a.footer__social__item(href='')
            i.icon.icon_yt
          a.footer__social__item(href='')
            i.icon.icon_inst
      a.footer__download(href='') Скачать презентацию
        span PDF
      .hidden__md.hidden__lg.hidden__xl
        .footer__copy © 2019 «FKL»
        a.footer__copy.franciscoItem(href='#'): span.franciscoHelper Политика конфицендиальности Политика конфицендиальности
      .footer__copy
        a(href='')
          img(src='assets/images/cloudmillF.svg', alt='')
