.searchBar
  .container
    .searchBar__close: i.icon-delete
    form.searchBar__input(method='POST')
      input(placeholder='Поиск', type='text')
      button(type='submit'): img(src='assets/images/search.svg', alt='')
