.sitebar.animated(data-animation="slideInLeftBar", data-animation-delay="500")
  .sitebar__sect
    .sitebar__link
      i.icon.icon_selection
      | Подбор
  .sitebar__sect.sitebar__sect_menu
    .sitebar__link
      i.icon.icon_menu
      | Меню
  .sitebar__sect.sitebar_search
    .sitebar__link
      i.icon.icon_search
      | Поиск
