.sitebar
  .sitebar-inner(data-aos="fade-down", data-aos-delay="500", data-aos-duration="1000")
    .sitebar__sect
      .sitebar__link
        i.icon.icon_selection
        | Подбор
    .sitebar__sect.sitebar__sect_menu
      .sitebar__link
        i.icon.icon_menu
        | Меню
    .sitebar__sect.sitebar_search
      .sitebar__link
        i.icon.icon_search
        | Поиск
