@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic");

@font-face {
  font-family: "mass";
  src: url("../fonts/mass.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "massMedium";
  src: url("../fonts/mass-heave.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ALS";
  src: url("../fonts/ALSSchlangesans-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ugart');
  src:  url('../fonts/icomoon.eot?3ugart#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?3ugart') format('truetype'),
  url('../fonts/icomoon.woff?3ugart') format('woff'),
  url('../fonts/icomoon.svg?3ugart#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

//@font-face {
//  font-family: 'icomoon';
//  src:  url('../fonts/icomoon.eot?9pz0t6');
//  src:  url('../fonts/icomoon.eot?9pz0t6#iefix') format('embedded-opentype'),
//  url('../fonts/icomoon.ttf?9pz0t6') format('truetype'),
//  url('../fonts/icomoon.woff?9pz0t6') format('woff'),
//  url('../fonts/icomoon.svg?9pz0t6#icomoon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: block;
//}

//@import 'normalize.css';

//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//

//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color: true !default;
$use-btn-size: true !default;
$use-btn-group: false !default;
$use-input-group: false !default;
$use-table: true !default;
$use-color-table: false !default;
$use-column-table: false !default;
$use-color-text: true !default;

//modules
$use-accordion: false !default;
$use-breadcrumb: false !default;
$use-pagination: true !default;
$use-pager: true !default;
$use-space: true !default;
$use-split: false !default;
$use-rules: false !default;
$use-this-or-this: false !default;
$use-media: true !default;
// grids
$use-adaptive: true !default;
$use-flexbox: true !default;
$use-bem: false !default;
// plugins
$use-animations: false !default;
$debug-mode: false !default;

@import "_sprites";

// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";

@import "~slick-carousel/slick/slick.css";
@import "~fullpage.js/dist/fullpage.min.css";
@import "~select2/dist/css/select2.css";
@import "~magnific-popup/src/css/main.scss";
@import "~nouislider/distribute/nouislider.css";
@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "~aos/dist/aos.css";
