.catalog__inner(data-aos="fade-up", data-aos-delay="600")
  - for (let x = 1; x < 4; x++)
    .card__item
      .card__item__inner
        .catalog__item-inf Категория: &nbsp;
          a(href='#') Подшипники
        .card__item__inner-img
          img.section__bottom__slider__item__img(src='assets/images/prod_1.png', alt='')
        .section__bottom__slider__item__tags
          .section__bottom__slider__item__tag #Скидка
          .section__bottom__slider__item__tag #Новинка
          .section__bottom__slider__item__tag #Новинка
        a.section__bottom__slider__item__name(href='#')
          | Подшипник шариковый самоустанавливающийся 6205-2S.EES
        .section__bottom__slider__item__price
          | 529,86 ₽
          span с НДС
        .section__bottom__slider__item__state.state_have
          | Есть в наличии
        .section__bottom__slider__item__bot-inf
          | Артикул: 6206-2Z
      a.btn.btn--full.btn--default.franciscoItem(href='#'): .franciscoHelper Добавить в заказ
    .card__item
      .card__item__inner
        .catalog__item-inf Категория: &nbsp;
          a(href='#') Подшипники
        .card__item__inner-img
          img.section__bottom__slider__item__img(src='assets/images/prod_2.png', alt='')
        .section__bottom__slider__item__tags
          .section__bottom__slider__item__tag #Скидка
          .section__bottom__slider__item__tag #Новинка
        a.section__bottom__slider__item__name(href='#')
          | Подшипник шариковый самоустанавливающийся 6205-2S.EES
        .section__bottom__slider__item__price
          | 529,86 ₽
          span с НДС
        .section__bottom__slider__item__state.state_delivery
          | Под заказ
        .section__bottom__slider__item__bot-inf
          | Артикул: 6206-2Z
      a.btn.btn--full.btn--default.franciscoItem(href='#'): .franciscoHelper Добавить в заказ
