.logoList
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-1.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-2.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-3.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-4.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-5.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-6.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-7.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-8.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-9.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-10.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-11.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-12.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-13.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-14.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-15.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-16.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-17.png')
  .logoList__item(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-18.png')
  .logoList__item.hidden-content(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-1.png')
  .logoList__item.hidden-content(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-2.png')
  .logoList__item.hidden-content(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-3.png')
  .logoList__item.hidden-content(data-aos="fade-up")
    .ratio.ratio1-1
      .ratio-inner
        +img('clients/logo-4.png')
