.section__bottom__body
  .section__bottom__new(data-aos="fade-up", data-aos-delay="800")
    .section__bottom__new__date 24 октября 2019
    a.section__bottom__new__title(href='#') РУС ФКЛ отгрузила более 150 тысяч изделий для ТЕХНИКА-СЕРВИС
    .section__bottom__new__text Компоненты для производства - шарики, трубы, отливки, уплотнения, пластик, смазка, антикоррозийная защита, премиального качества от европейских поставщиков...
  .section__bottom__new(data-aos="fade-up", data-aos-delay="900")
    .section__bottom__new__date 24 октября 2019
    a.section__bottom__new__title(href='#') РУС ФКЛ отгрузила более 150 тысяч изделий для ТЕХНИКА-СЕРВИС
    .section__bottom__new__text Компоненты для производства - шарики, трубы, отливки, уплотнения, пластик, смазка, антикоррозийная защита, премиального качества от европейских поставщиков...
  .section__bottom__new(data-aos="fade-up")
    .section__bottom__new__date 24 октября 2019
    a.section__bottom__new__title(href='#') РУС ФКЛ отгрузила более 150 тысяч изделий для ТЕХНИКА-СЕРВИС
    .section__bottom__new__text Компоненты для производства - шарики, трубы, отливки, уплотнения, пластик, смазка, антикоррозийная защита, премиального качества от европейских поставщиков...
  .section__bottom__new(data-aos="fade-up")
    .section__bottom__new__date 24 октября 2019
    a.section__bottom__new__title(href='#') РУС ФКЛ отгрузила более 150 тысяч изделий для ТЕХНИКА-СЕРВИС
    .section__bottom__new__text Компоненты для производства - шарики, трубы, отливки, уплотнения, пластик, смазка, антикоррозийная защита, премиального качества от европейских поставщиков..
  .section__bottom__new.hidden-content(data-aos="fade-up")
    .section__bottom__new__date 24 октября 2019
    a.section__bottom__new__title(href='#') РУС ФКЛ отгрузила более 150 тысяч изделий для ТЕХНИКА-СЕРВИС
    .section__bottom__new__text Компоненты для производства - шарики, трубы, отливки, уплотнения, пластик, смазка, антикоррозийная защита, премиального качества от европейских поставщиков...
  .section__bottom__new.hidden-content(data-aos="fade-up")
    .section__bottom__new__date 24 октября 2019
    a.section__bottom__new__title(href='#') РУС ФКЛ отгрузила более 150 тысяч изделий для ТЕХНИКА-СЕРВИС
    .section__bottom__new__text Компоненты для производства - шарики, трубы, отливки, уплотнения, пластик, смазка, антикоррозийная защита, премиального качества от европейских поставщиков...
