.logoList.logoList--border(data-aos="fade-up")
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-1.png')
    p.text__lg: b ООО «Деловые Линии»
    p.text__sm.text--grey www.dellin.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-2.png')
    p.text__lg: b ООО «Автотрейдинг»
    p.text__sm.text--grey www.autotrading.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-3.png')
    p.text__lg: b ООО «Реил Континент»
    p.text__sm.text--grey www.railcontinent.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-4.png')
    p.text__lg: b ООО «ПЭК»
    p.text__sm.text--grey www.pecom.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-5.png')
    p.text__lg: b ТК БАЙКАЛ-СЕРВИС
    p.text__sm.text--grey www.baikalsr.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-6.png')
    p.text__lg: b ООО «ЖелДорЭкспедиция»
    p.text__sm.text--grey www.jde.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-7.png')
    p.text__lg: b DPD
    p.text__sm.text--grey www.dpd.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
  a.logoList__item.franciscoItem(href='#', data-aos="fade-up")
    .logoList__item--img: +img('shipping/item-8.png')
    p.text__lg: b DHL
    p.text__sm.text--grey www.logistics.dhl.ru
    .text__sm.franciscoHelper
      +img('arrow_rt.svg')
      span Рассчитать стоимость доставки
